@-webkit-keyframes omBounce {
    0%,
    20%,
    50%,
    80%,
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

@keyframes omBounce {
    0%,
    20%,
    50%,
    80%,
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

.om-animation-bounce {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: omBounce;
    animation-name: omBounce
}

@-webkit-keyframes omBounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
    70% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes omBounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
    70% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.om-animation-bounce-in {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omBounceIn;
    animation-name: omBounceIn
}

@-webkit-keyframes omBounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
        transform: translateY(30px)
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes omBounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
        transform: translateY(30px)
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.om-animation-bounce-in-down {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omBounceInDown;
    animation-name: omBounceInDown
}

@-webkit-keyframes omBounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        transform: translateX(30px)
    }
    80% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes omBounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        transform: translateX(30px)
    }
    80% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.om-animation-bounce-in-left {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omBounceInLeft;
    animation-name: omBounceInLeft
}

@-webkit-keyframes omBounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px)
    }
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes omBounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px)
    }
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.om-animation-bounce-in-right {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omBounceInRight;
    animation-name: omBounceInRight
}

@-webkit-keyframes omBounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    80% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes omBounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    80% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.om-animation-bounce-in-up {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omBounceInUp;
    animation-name: omBounceInUp
}

@-webkit-keyframes omFlash {
    0%,
    50%,
    to {
        opacity: 1
    }
    25%,
    75% {
        opacity: 0
    }
}

@keyframes omFlash {
    0%,
    50%,
    to {
        opacity: 1
    }
    25%,
    75% {
        opacity: 0
    }
}

.om-animation-flash {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: omFlash;
    animation-name: omFlash
}

@-webkit-keyframes omFlip {
    0% {
        -webkit-transform: perspective(800px) translateZ(0) rotateY(0) scale(1);
        transform: perspective(800px) translateZ(0) rotateY(0) scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    40% {
        -webkit-transform: perspective(800px) translateZ(150px) rotateY(170deg) scale(1);
        transform: perspective(800px) translateZ(150px) rotateY(170deg) scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    50% {
        -webkit-transform: perspective(800px) translateZ(150px) rotateY(190deg) scale(1);
        transform: perspective(800px) translateZ(150px) rotateY(190deg) scale(1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    80% {
        -webkit-transform: perspective(800px) translateZ(0) rotateY(1turn) scale(.95);
        transform: perspective(800px) translateZ(0) rotateY(1turn) scale(.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    to {
        -webkit-transform: perspective(800px) translateZ(0) rotateY(1turn) scale(1);
        transform: perspective(800px) translateZ(0) rotateY(1turn) scale(1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
}

@keyframes omFlip {
    0% {
        -webkit-transform: perspective(800px) translateZ(0) rotateY(0) scale(1);
        transform: perspective(800px) translateZ(0) rotateY(0) scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    40% {
        -webkit-transform: perspective(800px) translateZ(150px) rotateY(170deg) scale(1);
        transform: perspective(800px) translateZ(150px) rotateY(170deg) scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    50% {
        -webkit-transform: perspective(800px) translateZ(150px) rotateY(190deg) scale(1);
        transform: perspective(800px) translateZ(150px) rotateY(190deg) scale(1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    80% {
        -webkit-transform: perspective(800px) translateZ(0) rotateY(1turn) scale(.95);
        transform: perspective(800px) translateZ(0) rotateY(1turn) scale(.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    to {
        -webkit-transform: perspective(800px) translateZ(0) rotateY(1turn) scale(1);
        transform: perspective(800px) translateZ(0) rotateY(1turn) scale(1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
}

.om-animation-flip {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: omFlip;
    animation-name: omFlip
}

@-webkit-keyframes omFlipInX {
    0% {
        -webkit-transform: perspective(800px) rotateX(90deg);
        transform: perspective(800px) rotateX(90deg);
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(800px) rotateX(-10deg);
        transform: perspective(800px) rotateX(-10deg)
    }
    70% {
        -webkit-transform: perspective(800px) rotateX(10deg);
        transform: perspective(800px) rotateX(10deg)
    }
    to {
        -webkit-transform: perspective(800px) rotateX(0deg);
        transform: perspective(800px) rotateX(0deg);
        opacity: 1
    }
}

@keyframes omFlipInX {
    0% {
        -webkit-transform: perspective(800px) rotateX(90deg);
        transform: perspective(800px) rotateX(90deg);
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(800px) rotateX(-10deg);
        transform: perspective(800px) rotateX(-10deg)
    }
    70% {
        -webkit-transform: perspective(800px) rotateX(10deg);
        transform: perspective(800px) rotateX(10deg)
    }
    to {
        -webkit-transform: perspective(800px) rotateX(0deg);
        transform: perspective(800px) rotateX(0deg);
        opacity: 1
    }
}

.om-animation-flip-down {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: omFlipInX;
    animation-name: omFlipInX
}

@-webkit-keyframes omFlipInY {
    0% {
        -webkit-transform: perspective(800px) rotateY(90deg);
        transform: perspective(800px) rotateY(90deg);
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(800px) rotateY(-10deg);
        transform: perspective(800px) rotateY(-10deg)
    }
    70% {
        -webkit-transform: perspective(800px) rotateY(10deg);
        transform: perspective(800px) rotateY(10deg)
    }
    to {
        -webkit-transform: perspective(800px) rotateY(0deg);
        transform: perspective(800px) rotateY(0deg);
        opacity: 1
    }
}

@keyframes omFlipInY {
    0% {
        -webkit-transform: perspective(800px) rotateY(90deg);
        transform: perspective(800px) rotateY(90deg);
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(800px) rotateY(-10deg);
        transform: perspective(800px) rotateY(-10deg)
    }
    70% {
        -webkit-transform: perspective(800px) rotateY(10deg);
        transform: perspective(800px) rotateY(10deg)
    }
    to {
        -webkit-transform: perspective(800px) rotateY(0deg);
        transform: perspective(800px) rotateY(0deg);
        opacity: 1
    }
}

.om-animation-flip-side {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: omFlipInY;
    animation-name: omFlipInY
}

@-webkit-keyframes omLightSpeedIn {
    0% {
        -webkit-transform: translateX(100%) skewX(-30deg);
        transform: translateX(100%) skewX(-30deg);
        opacity: 0
    }
    60% {
        -webkit-transform: translateX(-20%) skewX(30deg);
        transform: translateX(-20%) skewX(30deg);
        opacity: 1
    }
    80% {
        -webkit-transform: translateX(0) skewX(-15deg);
        transform: translateX(0) skewX(-15deg);
        opacity: 1
    }
    to {
        -webkit-transform: translateX(0) skewX(0deg);
        transform: translateX(0) skewX(0deg);
        opacity: 1
    }
}

@keyframes omLightSpeedIn {
    0% {
        -webkit-transform: translateX(100%) skewX(-30deg);
        transform: translateX(100%) skewX(-30deg);
        opacity: 0
    }
    60% {
        -webkit-transform: translateX(-20%) skewX(30deg);
        transform: translateX(-20%) skewX(30deg);
        opacity: 1
    }
    80% {
        -webkit-transform: translateX(0) skewX(-15deg);
        transform: translateX(0) skewX(-15deg);
        opacity: 1
    }
    to {
        -webkit-transform: translateX(0) skewX(0deg);
        transform: translateX(0) skewX(0deg);
        opacity: 1
    }
}

.om-animation-light-speed {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omLightSpeedIn;
    animation-name: omLightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
}

@-webkit-keyframes omPulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes omPulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.om-animation-pulse {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: omPulse;
    animation-name: omPulse
}

@-webkit-keyframes omRollIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%) rotate(-120deg);
        transform: translateX(-100%) rotate(-120deg)
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg)
    }
}

@keyframes omRollIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%) rotate(-120deg);
        transform: translateX(-100%) rotate(-120deg)
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg)
    }
}

.om-animation-roll-in {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omRollIn;
    animation-name: omRollIn
}

@-webkit-keyframes omRotateIn {
    0% {
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
        opacity: 0
    }
    to {
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
}

@keyframes omRotateIn {
    0% {
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
        opacity: 0
    }
    to {
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
}

.om-animation-rotate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omRotateIn;
    animation-name: omRotateIn
}

@-webkit-keyframes omRotateInDownLeft {
    0% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        opacity: 0
    }
    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
}

@keyframes omRotateInDownLeft {
    0% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        opacity: 0
    }
    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
}

.om-animation-rotate-down-left {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omRotateInDownLeft;
    animation-name: omRotateInDownLeft
}

@-webkit-keyframes omRotateInDownRight {
    0% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 0
    }
    to {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
}

@keyframes omRotateInDownRight {
    0% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 0
    }
    to {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
}

.om-animation-rotate-down-right {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omRotateInDownRight;
    animation-name: omRotateInDownRight
}

@-webkit-keyframes omRotateInUpLeft {
    0% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 0
    }
    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
}

@keyframes omRotateInUpLeft {
    0% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 0
    }
    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
}

.om-animation-rotate-up-left {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omRotateInUpLeft;
    animation-name: omRotateInUpLeft
}

@-webkit-keyframes omRotateInUpRight {
    0% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        opacity: 0
    }
    to {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
}

@keyframes omRotateInUpRight {
    0% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        opacity: 0
    }
    to {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
}

.om-animation-rotate-up-right {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omRotateInUpRight;
    animation-name: omRotateInUpRight
}

@-webkit-keyframes omRubberBand {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    30% {
        -webkit-transform: scaleX(1.25) scaleY(.75);
        transform: scaleX(1.25) scaleY(.75)
    }
    40% {
        -webkit-transform: scaleX(.75) scaleY(1.25);
        transform: scaleX(.75) scaleY(1.25)
    }
    60% {
        -webkit-transform: scaleX(1.15) scaleY(.85);
        transform: scaleX(1.15) scaleY(.85)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes omRubberBand {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    30% {
        -webkit-transform: scaleX(1.25) scaleY(.75);
        transform: scaleX(1.25) scaleY(.75)
    }
    40% {
        -webkit-transform: scaleX(.75) scaleY(1.25);
        transform: scaleX(.75) scaleY(1.25)
    }
    60% {
        -webkit-transform: scaleX(1.15) scaleY(.85);
        transform: scaleX(1.15) scaleY(.85)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.om-animation-rubber-band {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: omRubberBand;
    animation-name: omRubberBand
}

@-webkit-keyframes omShake {
    0%,
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }
}

@keyframes omShake {
    0%,
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }
}

.om-animation-shake {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: omShake;
    animation-name: omShake
}

@-webkit-keyframes omSlideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes omSlideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.om-animation-slide-in-down {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omSlideInDown;
    animation-name: omSlideInDown
}

@-webkit-keyframes omSlideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes omSlideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.om-animation-slide-in-left {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omSlideInLeft;
    animation-name: omSlideInLeft
}

@-webkit-keyframes omSlideInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes omSlideInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.om-animation-slide-in-right {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omSlideInRight;
    animation-name: omSlideInRight
}

@-webkit-keyframes omSwing {
    20% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes omSwing {
    20% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

.om-animation-swing {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: omSwing;
    animation-name: omSwing
}

@-webkit-keyframes omTada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    10%,
    20% {
        -webkit-transform: scale(.9) rotate(-3deg);
        transform: scale(.9) rotate(-3deg)
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg)
    }
    to {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}

@keyframes omTada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    10%,
    20% {
        -webkit-transform: scale(.9) rotate(-3deg);
        transform: scale(.9) rotate(-3deg)
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg)
    }
    to {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}

.om-animation-tada {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omTada;
    animation-name: omTada
}

@-webkit-keyframes omWobble {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    15% {
        -webkit-transform: translateX(-25%) rotate(-5deg);
        transform: translateX(-25%) rotate(-5deg)
    }
    30% {
        -webkit-transform: translateX(20%) rotate(3deg);
        transform: translateX(20%) rotate(3deg)
    }
    45% {
        -webkit-transform: translateX(-15%) rotate(-3deg);
        transform: translateX(-15%) rotate(-3deg)
    }
    60% {
        -webkit-transform: translateX(10%) rotate(2deg);
        transform: translateX(10%) rotate(2deg)
    }
    75% {
        -webkit-transform: translateX(-5%) rotate(-1deg);
        transform: translateX(-5%) rotate(-1deg)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes omWobble {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    15% {
        -webkit-transform: translateX(-25%) rotate(-5deg);
        transform: translateX(-25%) rotate(-5deg)
    }
    30% {
        -webkit-transform: translateX(20%) rotate(3deg);
        transform: translateX(20%) rotate(3deg)
    }
    45% {
        -webkit-transform: translateX(-15%) rotate(-3deg);
        transform: translateX(-15%) rotate(-3deg)
    }
    60% {
        -webkit-transform: translateX(10%) rotate(2deg);
        transform: translateX(10%) rotate(2deg)
    }
    75% {
        -webkit-transform: translateX(-5%) rotate(-1deg);
        transform: translateX(-5%) rotate(-1deg)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.om-animation-wobble {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: omWobble;
    animation-name: omWobble
}

.om-content-lock {
    color: transparent!important;
    text-shadow: rgba(0, 0, 0, .5) 0 0 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
    -webkit-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px)
}

html.om-mobile-position,
html.om-mobile-position body {
    position: fixed!important
}

html.om-ios-form,
html.om-ios-form body {
    -webkit-transform: translateZ(0)!important;
    transform: translateZ(0)!important;
    -webkit-overflow-scrolling: touch!important;
    height: 100%!important;
    overflow: auto!important
}

html.om-position-popup body {
    overflow: hidden!important
}

html.om-position-floating-top {
    transition: padding-top .5s ease!important
}

html.om-position-floating-bottom {
    transition: padding-bottom .5s ease!important
}

html.om-reset-dimensions {
    height: 100%!important;
    width: 100%!important
}

.om-verification-confirmation {
    font-family: Lato, Arial, Helvetica, sans-serif;
    position: fixed;
    border-radius: 10px;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    opacity: 0;
    transition: opacity .3s ease-in;
    background: #85bf31;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    z-index: 9999
}